In [2]:
import numpy as np
import pandas as pd

In [9]:
df = pd.DataFrame({'B': [0, 1, 2, 3, 4]})
df

   B
0  0
1  1
2  2
3  3
4  4

In [14]:
df.rolling(4, min_periods=1, center=True).sum()

      B
0   1.0
1   3.0
2   6.0
3  10.0
4   9.0

In [13]:
df.rolling(3, min_periods=1, center=False).sum()

     B
0  0.0
1  1.0
2  3.0
3  6.0
4  9.0

In [16]:
(28/2 - 1) + (-14) > 0

False